table {
  width: 100%;
}

.mat-elevation-z8 {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.status-pendente {
  color: orange;
  font-weight: bold;
}

.status-concluido {
  color: green;
  font-weight: bold;
}

.status-cancelado {
  color: red;
  font-weight: bold;
}