<mat-toolbar class="mat-elevation-z8">
  <button
    class="sidebar-button"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>  

  <img
      class="logo"
      src="freepik__background__67663.png"
    />

  <div></div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="freepik__remove-the-text-logo-text-and-the-slogan-business-__67659.png"
    />

    <h4 class="name">Hospital</h4>    

    <mat-divider></mat-divider>

    <div class="menu-container">
        <button mat-button class="menu-button" routerLink="/home" (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button> 
    
        <button mat-button class="menu-button" routerLink="/cadastro" (click)="sidenav.toggle()">
          <mat-icon>person</mat-icon>
          <span>Cadastro de pacientes</span>
        </button>

        <button mat-button class="menu-button" routerLink="/triagem" (click)="sidenav.toggle()">
          <mat-icon>assessment</mat-icon>
          <span>Triagem</span>
        </button>   

        <button mat-button class="menu-button" routerLink="/atendimentos" (click)="sidenav.toggle()">
          <mat-icon>event</mat-icon>
          <span>Atendimento</span>
        </button>   
    </div>    

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>